.add-movie-to-list {
    background: #d3d3d3;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    margin-top: 13%;
    display: flex;
    border-style:initial;
    flex-direction: column;
    align-items: center;
}

.add-movie-to-list h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.add-movie-to-list p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.select-input,
.checkbox-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.select-input:focus,
.checkbox-input:focus {
    border-color: #007bff;
    outline: none;
}

.add-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #0056b3;
}