/* CreateMovieList.css */

.create-movie-list-container {
    padding: 2rem;
    margin: 0 auto;
    border: 6px solid #797575;
    margin-top: 15%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    background-color: #bbbbbb;
    width: 100%;
    max-width: 330px;
    border-style: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.create-movie-list-header {
    text-align: center;
    font-family:  'Trebuchet MS';
    color: #000000;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #000000;
}

.form-input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(455, 455, 455, 0.10);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: black;
}

.form-checkbox {
    margin-right: 0.5rem;
}

.add-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #0056b3;
}