.home-card {
    width: 75%;
    margin: auto; /* Center the card horizontally */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.home-container {
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.login-button,
.register-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.login-button {
    background-color: #007bff;
}

.register-button {
    background-color: #28a745;
}
