.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height:60px;
    background-color: #0e4161d0;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-title {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.nav-links {
    display: flex;
    align-items: center;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-link:hover {
    color: #ff0000;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.3s;
}

.menu-toggle .bar.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.menu-toggle .bar.open:nth-child(2) {
    opacity: 0;
}

.menu-toggle .bar.open:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
}

.nav-links.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: #0e4161d0;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 100%;
}

.nav-links.show .navbar-link {
    display: block;
    padding: 10px 15px;
}

/* Hide links by default on mobile */
@media (max-width: 1024px) {
    .navbar .nav-links {
        display: none;
    }

    .navbar .nav-links.show {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}

@media (min-width: 1024px) {
    .navbar .nav-links {
        display: flex;
    }

    .menu-toggle {
        display: none;
    }
}