.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 3rem;
    background-color: #0e4161d0;
    color: white;
    margin: auto;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    height: 30px;
    margin-right: 870px;
    color: aliceblue;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
    gap: 10rem;
}


.navbar-link {
    color: white;
    border: none;
    padding: 0.7rem 1rem;
    margin: 0.9rem;
    border-radius: 1rem;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


.navbar-link:hover,
.navbar-brand:hover {
    color: rgb(242, 63, 63);
}