.profile-container {
    padding: 3rem;
    background: linear-gradient(135deg, #4e4e7a, hsla(240, 86%, 36%, 0.393));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header {
    text-align: center;
    color: #fffcfc;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.profile-user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
}

.profile-user-card {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    transition: transform 0.3s ease;
}

.profile-user-card:hover {
    transform: translateY(-10px);
}

.profile-user-title {
    margin: 1rem 0;
    color: #1b1010;
    font-size: 1.5rem;
    font-weight: 500;
}

.profile-user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.profile-movie-lists-header {
    text-align: center;
    color: #ffffff;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
}

.profile-movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 100px;
    width: 100%;
    align-items: center;
    padding: 0 20px;
}

.profile-movies {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.profile-movies:hover {
    transform: translateY(-10px);
}

.profile-movie-title {
    margin: 1rem 0;
    color: #2c3e50;
    font-size: 1.25rem;
    font-weight: 500;
}

.profile-view-more-button,
.profile-create-list-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 1rem;
    font-size: 1rem;
}

.profile-view-more-button:hover,
.profile-create-list-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.profile-create-list-button-container {
    display: grid;
    justify-content: center;
    margin-bottom: 2rem;
}

.error-message{
    text-align: center;
    color: #fff;
}