.movie-search-component {
    text-align: center;
    margin: 20px;
    padding: 0 15px;
}

.movie-search-bar {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-search-bar input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.movie-search-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.movie-search-bar button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 20px;
}

.movie-search-movie-lists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 0 10px;
}

.movie-search-movie-list {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    background-color: #fff;
    transition: transform 0.2s;
}

.movie-search-movie-list:hover {
    transform: scale(1.02);
}

.movie-search-movie-list h2 {
    margin-bottom: 10px;
    font-size: 1.25rem;
}

.movie-search-add-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

.movie-search-add-button:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .movie-search-bar {
        flex-direction: column;
    }

    .movie-search-bar input {
        margin-right: 0;
        margin-bottom: 10px;
        max-width: 100%;
    }

    .movie-search-bar button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .movie-search-movie-list h2 {
        font-size: 1rem;
    }

    .movie-search-add-button {
        padding: 10px;
        font-size: 0.875rem;
    }
}
