.movie-search-component {
    text-align: center;
    margin: 20px;
}

.movie-search-bar {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-search-bar input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.movie-search-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 20px;
}

.movie-lists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.movie-list {
    flex: 1 1 300px;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

.movie-list h2 {
    margin-bottom: 10px;
}

.add-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

.movie-list-search-message {
    text-align: left;
}