body{
    background-image: url('https://xxboxnews.blob.core.windows.net/prod/sites/2/2023/05/Background-size1920x1080-4e1694a6-75aa-4c36-9d4d-7fb6a3102005-bc5318781aad7f5c8520.png');
    background-size: 100%;
}
.can-password-change-container {
    padding: 2rem;
    background-color: #ebeff3;
    max-width: 330px;
    margin: 0 auto;
    border: 6px solid #000000;
    margin-top: 15%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    display: flex;
    background-color: #c3c3c3;
    flex-direction: column;
    border-style: initial;
    align-items: center;
    color: #fff;
}

.can-password-change-header {
    text-align: center;
    font-family:  'Trebuchet MS';
    color: #000000;
    margin-bottom: 2rem;
}

.can-password-change-form-group {
    margin-bottom: 1rem;
}

.can-password-change-form-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #000000;
}

.can-password-change-form-input {
    display: block;
    height: 50px;
    width: 120%;
    background-color: rgba(455, 455, 455, 0.10);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 200;
    color: black;
    
}

.can-password-change-check-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.can-password-change-check-button:hover {
    background-color: #0056b3;
}

.can-password-change-error-message {
    color: red;
    text-align: center;
    margin-top: 1rem;
}